/*--text: #354a50;
--background: #ffffff;
--primary: #76bf76;
--secondary: #b9e997;
--accent: #fc764d;*/

body {
    color: #354a50;
}
/* body p {
    padding: 0em 1em;
    font-size: large;
} */

header {
    color: #354a50;
    background-color: #76bf76;
    text-align: center;
    padding: 2em 0.5em;
}
header a {
    text-decoration: none;
    color: #354a50;
}

nav {
    font-size: 120%;
    background-color: #b9e997;
    font-weight: bold;
    text-align: center;
    padding: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 1em;
    /* looksie */
    position: relative;
    /* look at that guy above */
}
nav a {
    text-decoration: none;
}
nav a:link {
    color: #354a50;
}
nav a:hover {
    color: #fc764d;
}
nav a:visited {
    color: #504d9f;
}

nav ul {
    list-style-type: none;
}

nav ul ul {
    position: absolute;
    background-color: #b9e997;
    padding: 0;
    display: none;
}

nav ul ul li {
    border: 1px solid #76bf76;
    display: block;
    width: 8em;
    padding-left: 1em;
    margin-left: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav li:hover ul {
    display: block;
}

footer {
    /* font-size: 75%; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1em 2em;
    border-top: 1px solid #354a50;
}
footer ul {
    list-style-type: none;
}

h1 {
    font-size: 55px;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    margin-bottom: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    margin-bottom: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section a {
    text-decoration: none;
}
section a:link {
    color: #fc764d;
}
section a:hover {
    color: bisque;
}
section a:visited {
    color: #504d9f;
}

main ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    padding: 0em 10em;
}

form {
    background-color: #b9e997;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: auto;
    padding: 10px;
    margin: 1em;
}

label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #354a50;
    font-size: 20px;
}

textarea {
    display: block;
}

table {
    margin: 1em 2em;
    border: 2px solid #76bf76;
    border-collapse: collapse;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

td, th {
    padding: 0.5em;
    border: 2px solid #76bf76;
}

td {
    text-align: center;
}

.center {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

video {
    float: left;
    margin: 1em;
}

.tags {
    padding-top: 1em;
    font-size: 90%;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.posttext {
    padding: 0em 1em;
    font-size: large;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

figure {
    position: relative;
    z-index: 1;
    opacity: .75;
    background-color: #FFF;
    color: rgba(0,0,0,0);
    margin: 1em;
    font-size: .5em;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

figure:hover {
    opacity: 1;
    z-index: 999;
    color: rgba(0,0,0,1);
    transform: scale(2);
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 80%;
    border: 2px solid #354a50;
    background-color: #fbfeff;
    background-repeat: no-repeat;
    box-shadow: 3px 3px #354a50;
}

#searchbar {
    margin-top: 2em;
    text-align: center;
}

#logo {
    height: 100px;
    width: 100px;
    background-image: url(logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#mealinfo {
    text-align: center;
    color: #354a50;
    border-bottom: 1px solid #fc764d;
}

#cutlerygraphic {
    height: 75px;
    width: 100%;
    background-image: url(cutlery2.png);
    background-repeat: repeat-x;
}

#cafelalibelaimg {
    height: 200px;
    width: 300px;
    background-image: url(cafelalibelaimg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#allpierogiimg {
    height: 200px;
    width: 300px;
    background-image: url(allpierogiimg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#mochifreshimg {
    height: 200px;
    width: 300px;
    background-image: url(mochifreshimg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media (min-width: 1000px) {
    h2 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    nav ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    nav li {
        border-bottom: none;
    }

    div section {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 1;
        padding: 1em;
        /* padding: 0em 1em; */
        margin: 2em;
        border: 2px solid #354a50;
    }

   footer section {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 1;
        margin: 1em;
    }
    footer a {
        text-decoration: none;
    }

    .flow {
        display: flex;
        flex-direction: row;
    }
}

@supports (display: grid) {
    form {
        border: 5px dashed #76bf76;
        text-align: right;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 10em 1fr;
        gap: 1em;
        background-color: #b9e997;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 45%;
        min-width: 20em;
        padding: 2em;
        margin: 1em auto;
    }

    input[type="submit"] {
        grid-column: 2/3;
        width: 7em;
        margin-left: 0;
    }
}